<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.min.css">
   <title>Liste de cartes</title>
</head>

<body>
    <br>
    <br>
    <br>
    <h1><a href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\index.html">Retour à l'index</a></h1>
    <br>
    <br>
    <div class="container-xl">
        <!--Events list-->
        <div class="row">
            <h1>Listes pour les évènements </h1>
            <div class="col-lg-4">
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Evènement n°1</div>
                    <div class="card-body">
                        <h4 class="card-title">Le nouveau concert de Patrick Sébastien</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Evènement n°1</div>
                    <div class="card-body">
                        <h4 class="card-title">Le nouveau concert de Patrick Sébastien</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                    <div class="card-header">Evènement n°1</div>
                    <div class="card-body">
                        <h4 class="card-title">Le nouveau concert de Patrick Sébastien</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">Evènement n°1</div>
                    <div class="card-body">
                        <h4 class="card-title">Le nouveau concert de Patrick Sébastien</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Evènement n°1</div>
                    <div class="card-body">
                        <h4 class="card-title">Le nouveau concert de Patrick Sébastien</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
                <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                    <div class="card-header">Evènement n°1</div>
                    <div class="card-body">
                        <h4 class="card-title">Le nouveau concert de Patrick Sébastien</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container-xl">
        <!--Users list-->
        <h1>Liste d'utilisateurs</h1>
        <ul>
            <li class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px;" src="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\pictures\carlos.jpeg">
                <p class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                    <strong>@Carlos</strong>
                    Papayou, Papayou, Papayou, Papayou lélé J'ai le plus beau des Papayou lélé Qu'on ait vu depuis des
                    années Papayou, Papayou, Papayou, Papayou lélé Ma mère me disait faut pas le montrer Ca f'rait des
                    jaloux dans le quartier Ca f'rait pleins de jaloux qui n'en n'ont pas du tout Pleins d'envieux qui
                    n'en ont pas chez eux Pleins de méchants qu'en ont pas d'aussi grands
                </p>
            </li>
            <li class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px;" src="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\pictures\carlos.jpeg">
                <p class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                    <strong>@Carlos</strong>
                    Papayou, Papayou, Papayou, Papayou lélé J'ai le plus beau des Papayou lélé Qu'on ait vu depuis des
                    années Papayou, Papayou, Papayou, Papayou lélé Ma mère me disait faut pas le montrer Ca f'rait des
                    jaloux dans le quartier Ca f'rait pleins de jaloux qui n'en n'ont pas du tout Pleins d'envieux qui
                    n'en ont pas chez eux Pleins de méchants qu'en ont pas d'aussi grands
                </p>
            </li>
            <li class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px;" src="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\pictures\carlos.jpeg">
                <p class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                    <strong>@Carlos</strong>
                    Papayou, Papayou, Papayou, Papayou lélé J'ai le plus beau des Papayou lélé Qu'on ait vu depuis des
                    années Papayou, Papayou, Papayou, Papayou lélé Ma mère me disait faut pas le montrer Ca f'rait des
                    jaloux dans le quartier Ca f'rait pleins de jaloux qui n'en n'ont pas du tout Pleins d'envieux qui
                    n'en ont pas chez eux Pleins de méchants qu'en ont pas d'aussi grands
                </p>
            </li>
            <li class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px;" src="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\pictures\carlos.jpeg">
                <p class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                    <strong>@Carlos</strong>
                    Papayou, Papayou, Papayou, Papayou lélé J'ai le plus beau des Papayou lélé Qu'on ait vu depuis des
                    années Papayou, Papayou, Papayou, Papayou lélé Ma mère me disait faut pas le montrer Ca f'rait des
                    jaloux dans le quartier Ca f'rait pleins de jaloux qui n'en n'ont pas du tout Pleins d'envieux qui
                    n'en ont pas chez eux Pleins de méchants qu'en ont pas d'aussi grands
                </p>
            </li>
            <li class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px;" src="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\pictures\carlos.jpeg">
                <p class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                    <strong>@Carlos</strong>
                    Papayou, Papayou, Papayou, Papayou lélé J'ai le plus beau des Papayou lélé Qu'on ait vu depuis des
                    années Papayou, Papayou, Papayou, Papayou lélé Ma mère me disait faut pas le montrer Ca f'rait des
                    jaloux dans le quartier Ca f'rait pleins de jaloux qui n'en n'ont pas du tout Pleins d'envieux qui
                    n'en ont pas chez eux Pleins de méchants qu'en ont pas d'aussi grands
                </p>
            </li>
            <li class="media text-muted pt-3">
                <img class="mr-2 rounded" style="width: 32px;" src="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\pictures\carlos.jpeg">
                <p class="media-body pb-3 mb-0 small 1h-125 border-bottom border-gray">
                    <strong>@Carlos</strong>
                    Papayou, Papayou, Papayou, Papayou lélé J'ai le plus beau des Papayou lélé Qu'on ait vu depuis des
                    années Papayou, Papayou, Papayou, Papayou lélé Ma mère me disait faut pas le montrer Ca f'rait des
                    jaloux dans le quartier Ca f'rait pleins de jaloux qui n'en n'ont pas du tout Pleins d'envieux qui
                    n'en ont pas chez eux Pleins de méchants qu'en ont pas d'aussi grands
                </p>
            </li>
        </ul>
    </div>

</body>

</html>