<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.min.css">
    <title>Footer</title>
<body>
    <br>
    <footer class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom ">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto d-flex justify-content-around">
              <li>
                <a class="nav-link active" href="https://www.thehackingproject.org/fr">THP
                </a>
              </li>
              <li>
                <a class="nav-link active" href="https://www.lemonde.fr/m-styles/article/2022/06/14/du-pate-en-croute-pour-la-route-notre-selection-des-quinze-meilleurs-de-france_6130307_4497319.html">Pâté en croute</a>
              </li>
            </ul>
        </div>
    </footer>
    <br>
    <br>
    <h1><a href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\index.html">Retour à l'index</a></h1>
</body>
</html>