<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.min.css">
   <title>Connexion</title>
</head>
<body>
    <br>
    <br>
    <br>
    <h1><a href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\index.html">Retour à l'index</a></h1>
    <br>
    <br>
    <div class="container-sm p-5 mb-4 rounded-5"
        style="background-image: url(small-patoche.png); width: auto; height: 200px;">

        <h1 class="display-5 fw-bold text-danger">Eventbrite</h1>
        <br>
        <button class="btn btn-primary btn-lg" type="button">Créer un évènement</button>
    </div>
</body>
</html>