<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.css">
    <link rel="stylesheet" href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\style/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e9e8a5dc17.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <title>Kit UX</title>
</head>
<body>
    <h1><a href="\\wsl.localhost\Ubuntu-20.04\root\dossier_linux\20221115Molecules_et_organismes\index.html">Retour à l'index</a></h1>
    <br>
    <br>
    <h1>Colors</h1>
    <p></p>
    <br>
    <h1>Typography</h1>
    <h1>titre H1</h1>
    <h2>titre H2</h2>
    <h3>titre H3</h3>
    <h4>titre H4</h4>
    <p>Paragraphe</p>
    
    <h1>Buttons</h1>
    <div class="btn-primary">BTN-PRIMARY</div>
    <div class="btn-warning">BTN-WARNING</div>
    <div class="btn-danger">BTN-DANGER</div>
    <div class="btn-info">BTN-INFO</div>
    <div class="btn-success">BTN-SUCCESS</div>
    <br>
    <h1>Iconography</h1>
    <br>
    <br>
    <h1>Lists</h1>
    <br>
    <br>
    <h1>Cards</h1>
</body>
</html>